/*****TYPOGRAPHY*******/
a, h1, h2, h3, h4, h5, p{
    color: white;
}
html {
  position: relative;
}

body {
  background: url(../images/bg.jpg)
}
/*******NAVIGATION*******/
nav .container{
    display: flex;
    justify-content: space-between;
}
.navbar-brand img{
    width: 150px;
}




@media (min-width: 768px) {

}