@model IEnumerable<rolesDemoSSD.ViewModels.MovieVM>

@{
    ViewData["Title"] = "Library";
}

<h1>Trending ></h1>
<div>
    <figure>
        <img src="#" />
    </figure>
</div>
<h1>Popular collection ></h1>
<div>
    <figure>
        <img src="#" />
    </figure>
</div>
<h1>Coming Soon ></h1>
<div>
    <figure>
        <img src="#" />
    </figure>
</div>
<h1>Fan Favourites ></h1>
<div>
    <figure>
        <img src="#" />
    </figure>
</div>


