
@{
    ViewData["Title"] = "Rewind - About";
}

<h1>About Rewind</h1>
<p>
    Rewind started with a couple movie nerds back in 2020, when the pandemic hit and boredom struck.
    After filling countless days in quarantine with retro movies- mainly black and white, we decided to
    develop a web application that allows users to create an account with Rewind and have access to hundreds
    of movies for rent.
</p>

<p>
    So to all the movie nerds out there... Go ahead, look through our movie library, pay the rental fee
    and we'll have your favorite movies delivered right to your door.
</p>

<p>- The Rewind Team</p>

