@{
    ViewData["Title"] = "Home - Rewind";
}


<div class="home-banner">
    <h2>Log and Recommend your Favourite Films.</h2>
    <p>March 25, 2022</p>
    <a class="btn-primary" asp-area="Identity" asp-page="/Account/Register">Create a free account</a>
</div>
 
